services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: marketplace-backend
    restart: unless-stopped
    # Внутренний порт 8080, наружу можно не светить, но для тестов оставим 5035
    ports:
      - "5035:8080"
    volumes:
      # Прокидываем конфиг снаружи внутрь (чтобы клиент менял ключи без пересборки)
      - ./backend/Marketplace.API/appsettings.json:/app/appsettings.json
      # Прокидываем базу данных, чтобы она сохранялась на диске
      - ./data:/app/data
    environment:
      # Говорим EF Core искать базу в папке data
      - ConnectionStrings__DefaultConnection=Data Source=/app/data/marketplace.db

  frontend:
      build:
        context: .
        dockerfile: Dockerfile.frontend
      container_name: marketplace-frontend
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - /etc/letsencrypt:/etc/letsencrypt:ro
      depends_on:
        - backend